.HeaderBar {
  transform: translate3d(0,0,0);
  @extend .layout-hc;
  position: relative;
  background: $cyan-500;
  color: #FFF;
  padding: 10px 10px;
  height: 60px;
  transition: box-shadow 0.3s;
  z-index: 7;

  .header-title {
    @extend .flex;
    margin: 0 8px;
  }

  > button {
    font-size: 24px;
  }

  &.raised {
    box-shadow: 0px 2px 4px rgba(black, 0.4);
  }
}