$black54: lighten(#000, 46);
$black87: lighten(#000, 13);

// type sizes
.type--tiny {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}
.type--button {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black87;
  line-height: 24px;
}
.type--icon-button {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black87;
  line-height: 24px;
}
.type--submenu {
  font-size: 13px;
  font-weight: 300;
  color: $black54;
  line-height: 24px;
  letter-spacing: 0.02rem;
}
.type--menu {
  font-size: 13px;
  font-weight: 400;
  color: $black87;
  line-height: 24px;
  letter-spacing: 0.02rem;
} 
.type--caption {
  font-size: 12px;
  font-weight: 300;
  color: $black54;
  line-height: 24px;
}
.type--label {
  font-size: 14px;
  font-weight: 600;
  color: $black54;
  line-height: 24px;
}
.type--body-1 {
  font-size: 14px;
  font-weight: 300;
  color: $black87;
  line-height: 20px;
}
.type--body-2 {
  font-size: 14px;
  font-weight: 400;
  color: $black87;
  line-height: 24px;
}
.type--body-3 {
  font-size: 15px;
  font-weight: 400;
  color: $black87;
  line-height: 24px;
}
.type-body-4 {
  font-size: 16px;
  font-weight: 300;
  color: $black87;
  line-height: 24px;
}
.type--subhead {
  font-size: 15px;
  font-weight: 300;
  color: $black87;
  line-height: 24px;
}
.type--title {
  font-size: 20px;
  font-weight: 400;
  color: $black87;
  line-height: 24px;
}
.type--headline {
  font-size: 24px;
  font-weight: 300;
  color: $black87;
  line-height: 24px;
}
.type--display-1 {
  font-size: 34px;
  font-weight: 300;
  color: $black54;
  line-height: 40px;
}
.type--display-2 {
  font-size: 45px;
  font-weight: 300;
  color: $black54;
  line-height: 48px;
}
.type--display-3 {
  font-size: 56px;
  font-weight: 300;
  color: $black54;
  line-height: 60px;
}
.type--display-4 {
  font-size: 112px;
  font-weight: 100;
  color: $black54;
  line-height: 120px;
}

.indent {
  margin-left: 45px;
}

a {
  text-decoration: none;
  color: #000;
  &:hover, &:active {
    color: #000;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0
}

p {
  margin: 0;
}

.semistrong {
  font-weight: 400;
}
.strong {
  font-weight: 600;
}
.subdued {
  opacity: 0.75;
}
.quiet {
  opacity: 0.25;
}
.reverse {
  color: #FFF;
}